<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>鍵盤新聞</title>

        <link rel="stylesheet" type="text/css" href="/lib/taketori.css">
        <link rel="stylesheet" type="text/css" href="/style/hot.css">
    </head>
    <body>
        <header>
            <h1><a href="/">鍵盤新聞</a></h1>
        </header>

        <section class="v1">
            <h4>熱門新聞</h4>
            <ul class="third">
            {% for item in hot_news.third %}
                <li><a href="{{ item.link }}">{{ item.title }}</a></li>
            {% endfor %}
            </ul>
            <ul class="second">
            {% for item in hot_news.second %}
                <li><a href="{{ item.link }}">{{ item.title }}</a></li>
            {% endfor %}
            </ul>
            <ul class="first">
            {% for item in hot_news.first %}
                <li><a href="{{ item.link }}">{{ item.title }}</a></li>
            {% endfor %}
            </ul>
        </section>

        <section class="v2">
            <h4>影劇新聞</h4>
            <ul class="first">
            {% for item in biz_news.first %}
                <li><a href="{{ item.link }}">{{ item.title }}</a></li>
            {% endfor %}
            </ul>
            <ul class="second">
            {% for item in biz_news.second %}
                <li><a href="{{ item.link }}">{{ item.title }}</a></li>
            {% endfor %}
            </ul>
            <ul class="third">
            {% for item in biz_news.third %}
                <li><a href="{{ item.link }}">{{ item.title }}</a></li>
            {% endfor %}
            </ul>
        </section>

        <section class="v3">
            <h4>社會新聞</h4>
            <ul class="third">
            {% for item in social_news.third %}
                <li><a href="{{ item.link }}">{{ item.title }}</a></li>
            {% endfor %}
            </ul>
            <ul class="first">
            {% for item in social_news.first %}
                <li><a href="{{ item.link }}">{{ item.title }}</a></li>
            {% endfor %}
            </ul>
            <ul class="second">
            {% for item in social_news.second %}
                <li><a href="{{ item.link }}">{{ item.title }}</a></li>
            {% endfor %}
            </ul>
        </section>


        <section class="v4">
            <h4>生活新聞</h4>
            <ul class="third">
            {% for item in life_news.third %}
                <li><a href="{{ item.link }}">{{ item.title }}</a></li>
            {% endfor %}
            </ul>
            <ul class="second">
            {% for item in life_news.second %}
                <li><a href="{{ item.link }}">{{ item.title }}</a></li>
            {% endfor %}
            </ul>
            <ul class="first">
            {% for item in life_news.first %}
                <li><a href="{{ item.link }}">{{ item.title }}</a></li>
            {% endfor %}
            </ul>
        </section>

        <section class="v5">
            <h4>科技新聞</h4>
            <ul class="first">
            {% for item in tech_news.first %}
                <li><a href="{{ item.link }}">{{ item.title }}</a></li>
            {% endfor %}
            </ul>
            <ul class="second">
            {% for item in tech_news.second %}
                <li><a href="{{ item.link }}">{{ item.title }}</a></li>
            {% endfor %}
            </ul>
            <ul class="third">
            {% for item in tech_news.third %}
                <li><a href="{{ item.link }}">{{ item.title }}</a></li>
            {% endfor %}
            </ul>
        </section>

        <section class="v6">
            <h4>運動新聞</h4>
            <ul class="third">
            {% for item in sports_news.third %}
                <li><a href="{{ item.link }}">{{ item.title }}</a></li>
            {% endfor %}
            </ul>
            <ul class="first">
            {% for item in sports_news.first %}
                <li><a href="{{ item.link }}">{{ item.title }}</a></li>
            {% endfor %}
            </ul>
            <ul class="second">
            {% for item in sports_news.second %}
                <li><a href="{{ item.link }}">{{ item.title }}</a></li>
            {% endfor %}
            </ul>
        </section>

        <script type="text/javascript" src="/lib/jquery.min.js"></script>
        <script type="text/javascript" src="/lib/taketori.js"></script>
        <script type="text/javascript" src="/style/hot.js"></script>
    </body>
</html>
