<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<form action={{action}} enctype="multipart/form-data" method={{method}}>
	
	<table> 
		{% for field in text_fields %}
		<tr>
    		<td>{{field}}</td>
    		<td>
    		<textarea name="{{field}}" rows="30" cols="80"></textarea></td>
    	</tr>
    	{% endfor %}
        
		{% for field in file_fields %}
		<tr>
    		<td>{{field}}</td>
    		<td><input type="file" name="{{field}}"/></td>
    	</tr>
    	{% endfor %}
		<tr>
			<td>
        	<input type="submit" value="upload">
        	</td>
        </tr> 
    </table>
    </form> 

</body>
</html>