<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>鍵盤新聞：{{ title }}</title>

        <link rel="stylesheet" type="text/css" href="/lib/taketori.css">
        <link rel="stylesheet" type="text/css" href="/style/style{{ style }}.css">
    </head>
    <body>
        <header>
            <h1><a href="/">鍵盤新聞</a></h1>
        </header>

        <section>
            <hgroup>
                <h2>{{ title }}</h2>
            </hgroup>

            {% if photo %}
            <figure>
                <img src="{{ photo }}">
            </figure>
            {% endif %}

            <table class="main">
                <tbody>
                    <tr>
                        <td>
                        {% for item in content.top %}
                            <p>{{ item }}</p>
                        {% endfor %}
                        </td>
                        <td>
                        {% for item in content.bottom %}
                            <p>{{ item }}</p>
                        {% endfor %}
                        </td>
                    </tr>
                </tbody>
            </table>

            <table class="related">
                <tbody>
                    <tr>
                        <td class="related-news">
                            {% if related_news %}
                                <h4>相關新聞</h4>
                                <ul>
                                {% for item in related_news %}
                                    <li><a href="{{ item.link }}">{{ item.title }}</a></li>
                                {% endfor %}
                                </ul>
                            {% else %}
                                {% if related_keyword %}
                                    <h4>關鍵字</h4>
                                    <p>
                                        {{ related_keyword }}
                                    </p>
                                {% endif %}
                            {% endif %}
                        </td>
                        <td class="related-comment">
                            {% if related_comment %}
                                <h4>相關回應</h4>
                                {% for item in related_comment %}
                                    <div>
                                    <p><span class="floor">{{ item.floor }}</span>樓 <span class="author">{{ item.author }}</span> 發表於 <span class="time">{{ item.time }}</span></p>
                                    <p>{{ item.content }}</p>
                                    </div>
                                {% endfor %}
                            {% else %}
                                {% if related_keyword %}
                                    <h4>關鍵字</h4>
                                    <p>
                                        {{ related_keyword }}
                                    </p>
                                {% endif %}
                            {% endif %}
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>

        <div class="ad"><a href="{{ banner_ad.link }}"><img src="{{ banner_ad.source }}"></a></div>

        <script type="text/javascript" src="/lib/jquery.min.js"></script>
        <script type="text/javascript" src="/lib/taketori.js"></script>
        <script type="text/javascript" src="/style/style{{ style }}.js"></script>
    </body>
</html>
