html, body, header, hgroup, section, table, tbody, tr, td, footer, article, ul, li, h1, h2, h3, h4, h5, h6, div, p, span {
    font-size: inherit;
    margin: 0;
    padding: 0;
}
html {
    width: 100%;
    height: 100%;
}
body {
    background: #a0a0a0 url('/style/bgimg.jpg');
    width: 1024px;
}
a {
    color: black;
    text-decoration: none;
}
header h1 {
    float: right;
    font-size: 0pt;
    width: 127px;
    height: 686px;
    writing-mode: tb-rl;
    -webkit-writing-mode: vertical-rl;
    background-image: url('/style/banner.png');
}
header h1 a {
    display: block;
    width: 100%;
    height: 100%;
}
header h1 a:hover {
    background: none;
}
section h4 {
    border-bottom: 2px solid rgba(127, 127, 127, 0.5);
    font-family: 'MS Mincho', serif;
    font-size: 14pt;

    width: 840px;
}
section ul {
    margin-left: .4em;

    height: 180px !important;
}
section ul.first {
    background-color: black;
    color: white;
    font-size: 24pt;
    font-weight: bold;

    width: 200px !important;
}
section ul.first a {
    color: white;
}
section ul.first a:hover {
    color: rgb(254, 255, 39);
}
section ul.second {
    font-size: 14pt;
    font-weight: bold;

    width: 340px !important;
}
section ul.second a {
    text-decoration: underline;
}
section ul.second a:hover {
    background-color: rgba(254, 255, 39, 0.5);
}
section ul.third {
    width: 290px !important;
}
section ul.third a {
    text-decoration: underline;
}
section ul.third a:hover {
    background-color: rgba(254, 255, 39, 0.5);
}
