/*
    content.top: 381
    content.bottom: 381
*/
html, body, header, hgroup, section, table, tbody, tr, td, footer, article, ul, li, h1, h2, h3, h4, h5, h6, div, p, span {
    font-size: inherit;
    margin: 0;
    padding: 0;
}
html {
    width: 100%;
    height: 100%;
}
body {
    background: #a0a0a0 url('/style/bgimg.jpg');
    width: 1024px;
}
a {
    color: black;
    text-decoration: none;
}
a:hover {
    background-color: rgba(254, 255, 39, 0.5);
}
header h1 {
    float: right;
    font-size: 0pt;
    font-weight: normal;
    width: 60px;
    height: 378px;
    writing-mode: tb-rl;
    -webkit-writing-mode: vertical-rl;
    background-image: url('/style/banner1.png');
}
header h1 a {
    display: block;
    width: 100%;
    height: 100%;
}
header h1 a:hover {
    background: none;
}
section {
    float: right;

    width: 906px;
    height: 494px;
}
section hgroup {
    font-size: 18pt;

    width: 86px;
}
section figure {
    display: none;
}
section table {
    margin: .5em 1em;
}
section table td {
    padding: 5px 0;
    vertical-align: top;

    height: 225px;
}
section table.main {
    font-size: 11pt;

    width: 640px;
}
section table.related {
    width: 180px;
}
section table.related h4 {
    font-size: 12pt;
    border-bottom: 2px solid rgba(127, 127, 127, 0.5);
}
section table.related div,
section table.related ul,
section table.related p {
    font-size: 8pt;
    padding-left: 1em;
}
section table.related .floor,
section table.related .author,
section table.related .time {
    color: blue;
}
div.ad {
    float: right;
    clear: right;

    width: 906px;
    height: 120px;
}
