/*
    [no figure]
    content.top: 485
    content.bottom: 485

    [with figure]
    content.top: 177
    content.bottom: 485
*/
html, body, header, hgroup, section, table, tbody, tr, td, footer, article, ul, li, h1, h2, h3, h4, h5, h6, div, p, span {
    font-size: inherit;
    margin: 0;
    padding: 0;
}
html {
    width: 100%;
    height: 100%;
}
body {
    background: #a0a0a0 url('/style/bgimg.jpg');
    width: 1024px;
}
a {
    color: black;
    text-decoration: none;
}
a:hover {
    background-color: rgba(254, 255, 39, 0.5);
}
header h1 {
    float: right;
    font-size: 0pt;
    font-weight: normal;
    height: 57px;
    width: 323px;
    background-image: url('/style/banner2.png');
}
header h1 a {
    display: block;
    width: 100%;
    height: 100%;
}
header h1 a:hover {
    background: none;
}
section {
    float: right;

    width: 940px;
    height: 600px;
}
section hgroup {
    font-size: 24pt;
    text-align: right;
    padding: 0 10px;

    width: 920px;
    height: 40px;
}
section figure {
    width: 420px;
    height: 250px;
    text-align: center;
}
section figure img {
    max-width: 420px;
    max-height: 250px;
}
section table {
    margin: .5em 1em;
}
section table td {
    padding: 5px 0;
    vertical-align: top;

    height: 255px;
}
section table.main {
    font-size: 11pt;

    width: 712px;
}
section table.related {
    width: 180px;
}
section table.related h4 {
    font-size: 12pt;
    border-bottom: 2px solid rgba(127, 127, 127, 0.5);
}
section table.related div,
section table.related ul,
section table.related p {
    font-size: 8pt;
    padding-left: 1em;
}
section table.related .floor,
section table.related .author,
section table.related .time {
    color: blue;
}
div.ad {
    float: right;

    width: 80px;
    height: 600px;
}
